

.h1 {
  position: relative;
  font-size: 70px;
  text-align: center;
  color: rgb(9, 66, 51);
}


body {
 
    background-color: lightgrey;
    background-image: url(https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmVjcnVpdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1200&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
