

.h1 {
  position: relative;
  font-size: 60px;
  text-align: left;
  left:90px;
  font-family: cursive;
  color: rgb(244, 252, 250);
}

.subheader{
  position: relative;
  font-size: 30px;
  text-align: left;
  left:90px;
  color: rgb(244, 252, 250);
}
body {
 
    background-color: rgb(9, 32, 85);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp5saBS61YbJtKmKb6r5oQMVRluggHUepbNQ&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;


    
  
}

.left-image {
  position: fixed;
  bottom: 20px;
  left: 90px;
  width: 600px; 
  height: 350px; 
}


.paragraph {
    position: fixed;
    top: 90px;
    right: 100px;
    width: 500px;
    height: 500px;
    padding: 20px;
    font-size: 50px;
    font-family: "Courier New", monospace;
    text-align: center;
    color: rgb(209, 232, 240);
  }
  
