.upload-button-container {
  position: relative;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: left;
  left:90px;
  margin-top: auto;
  display: inline-block;

 
}

.mx-3 {
  font-size: 30px;
  color: rgb(32, 50, 45);
  font-weight: bold;
}

.d-none {
  font-size: 30px;
  left: 100px;
  color: rgb(9, 66, 51);
}

.btn {
  font-size: 30px;
  color: rgb(9, 66, 51);
  background-color: rgb(201, 199, 199);
  font-weight: bold;
}
